@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');


html{
    background: #f5f5f5;
}
/* home_page.html */
.container {
    display: flex; /* or inline-flex */
    justify-content: space-evenly;
    font-family: 'Hind Vadodara', serif;
    font-size: 20px
   
}

.img_container{
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: space-evenly;

}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #bebebe;
    position: sticky; /* Set the navbar to sticky position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    /* height:50px */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: black;
    color: #ddd;
  }

.descriptions{
  width:100%;
  margin: 0 auto;
  margin-top:75px;
  height:250px;
    
}
.title{
  font-family:'Libre Franklin', serif;
  font-size:30px;
  width:25%;
  height: 150px;
  width: 300px;
}

.models_section1{
  position: absolute;
  top: 650px;
  right: 50px;
  width: 320px;
  height: 1000px;
  font-family: 'Hind Vadodara', serif;
}

.models_section2{
  position: absolute;
  top: 650px;
  right: 390px;
  width: 320px;
  height: 1000px;
  font-family: 'Hind Vadodara', serif;
}

.models_section3{
  position: absolute;
  top: 650px;
  right: 730px;
  width: 320px;
  height: 1000px;
  font-family: 'Hind Vadodara', serif;
}

.fa:hover::after {
  color: red;
}

.filters{
  position: absolute;
  top: 645px;
  left: 50px;
  width: 320px;
  height: 1000px;
  font-family: 'forum', serif;
  font-size: 20px;
}




/* games.html */
.game1{
  position: absolute;
  top: 190px;
  left: 50px;
  width: 500px;
  height: 600px;
  font-family: 'Hind Vadodara', serif;
  font-size:20px

}

.game1_img{
  position: absolute;
  top: 220px;
  right: 50px;
  width: 700px;
  height: 600px;
}
