@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{
    font-family: 'Hind Vadodara', serif;
    background: f2f2f2;
}

.container {
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: space-evenly;
   
}

.img_container{
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: space-evenly;

}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #f2f2f2;
    position: sticky; /* Set the navbar to sticky position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    /* height:50px */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: black;
    color: #ddd;
  }

.descriptions{
    width:100%;
    margin: 0 auto;
    margin-top:75px;
    height:250px;
    border-width:thick
}
.description1, .description2, .description3,.description4{
    float:left;
    border-width:10px;
    width:25%;
}

.box{
    height: 150px;
    background-color: white;
    border-width:10px;
    -moz-box-shadow: 0 0 10px #bdbdbd;
    -webkit-box-shadow: 0 0 10px #bdbdbd;
    box-shadow: 0 0 10px #bdbdbd;
}